<template>
	<NuxtLoadingIndicator color="var(--primary)" />
	<NuxtLayout :name="layout">
		<NuxtPage />
	</NuxtLayout>
</template>

<script setup lang="ts">
import "beercss/src/cdn/beer.css";
import "beercss/src/cdn/material-symbols-outlined.woff2";
import "beercss/src/cdn/roboto-flex-cyrillic-ext.woff2";
import "beercss/src/cdn/roboto-flex-cyrillic.woff2";
import "beercss/src/cdn/roboto-flex-greek.woff2";
import "beercss/src/cdn/roboto-flex-latin-ext.woff2";
import "beercss/src/cdn/roboto-flex-latin.woff2";
import "beercss/src/cdn/roboto-flex-vietnamese.woff2";

const layout = ref<string>();
</script>
