<template>
	<article class="absolute middle center center-align padding">
		<img :src="logo" />
		<p>Coming soon</p>
	</article>
</template>

<script setup lang="ts">
import logo from "assets/logo/licensly-retro.svg";

useHead({
	title: "Licensly - The Home of 3D Printed Miniatures",
});
</script>
